* {
    padding: 0;
    margin: 0;
  }
  #container {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #container img {
    height: 90%;
  }
  #sec {
    height: 40%;
    width: 0.3%;
    top: 10%;
    left: 49.5%;
    /* display: none; */
    position: absolute;
    border-radius: 23px;
    background-color: rgb(65, 63, 63);
    transform-origin: bottom;
  }
  #min {
    height: 30%;
    width: 0.6%;
    top: 20%;
    border-radius: 23px;
    left: 49.39%;
    position: absolute;
    /* display: none; */
    transform-origin: bottom;
    background-color: rgb(65, 63, 63);
  }
  #hr {
    height: 20%;
    width: 1%;
    border-radius: 23px;
    left: 49.1%;
    /* display: none; */
    top: 30%;
    position: absolute;
    transform-origin: bottom;
    background-color: rgb(65, 63, 63);
  }